<%= bootstrap_form_for(@group, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-7", html: {id: 'group_form'}) do |f| %>
  <div class="row">
  	<div class="col-md-8">
	  <%= f.text_field :name, placeholder: 'Name' %>
	  <%= f.text_field :status, placeholder: 'Status' %>
	  <%= f.select :customer_id, @customers.collect { |c| [c.name, c.id] },{prompt: true}, {onchange: "send_customer()"} if current_user.super_admin? && @group.new_record? %>
  	  <div class="users"><%= render 'users' %></div>
	</div>
	<div class="col-md-4">
	  <%= image_tag @group.image? ? @group.image : '', class: 'image-pic' %>
	  <%= f.file_field :image, onchange: "readFile(this);" %>
	</div>
  </div>
  <div class="col-sm-2 col-sm-offset-2">
    <%= f.submit "Save", class: "btn btn-primary btn-block btn-flat" %>
  </div>
<% end %>
