<div class="login-box">
  <div class="login-logo">
    <%= link_to root_path do %><b>Student</b>Forum<%end%>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, hide_label: true, autofocus: true, placeholder: 'Email' %>
        <span class="fa fa-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password, hide_label: true, autocomplete: "off", placeholder: 'Password' %>
        <span class="fa fa-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">    
          <div class="checkbox icheck">
            <%= f.check_box :remember_me %>
          </div>                        
        </div><!-- /.col -->
        <div class="col-xs-4">
          <%= f.submit "Sign In", class: "btn btn-primary btn-block btn-flat" %>
        </div><!-- /.col -->
      </div>
    <% end %>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
    </div><!-- /.social-auth-links -->
    <%= render "devise/shared/links" %>
  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->