<div class="row">
  <div class="col-sm-12">
    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title"><%= @post.title %><hr></h3>
      </div>
      <div class="box-body">
        <p><i class="fa fa-clock-o"></i> Posted on <%= @post.created_at.to_datetime %></p>
        <hr>
        <%= @post.content.html_safe %>
        <hr>
        <div class="well">
          <h4>Leave a Comment:</h4>
          <%= render '/comments/form' %>
        </div>
        <table class="table">
          <% @post.live_comments.each do |comment|%>
          <tr>
            <td>
              <div class="media">
                <a class="pull-left" href="#">
                  <i class="fa fa-comments"></i>
                </a>
                <div class="media-body">
                  <h4 class="media-heading"><%= comment.user_name %>
                    <small><%= comment.created_at.to_datetime %></small>
                  </h4>
                  <%= comment.content %>
                </div>
              </div>
            </td>
            <td><%if can? :delete, comment %><%= link_to [@post, comment], method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash"></i><%end%><%end%></td>
          </tr>
          <%end%>
        </table>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>