  <aside class="main-sidebar">
  	<!-- sidebar: style can be found in sidebar.less -->
  	<section class="sidebar">
  		<!-- Sidebar user panel -->
  		<div class="user-panel">
  			<div class="image">
          <%= image_tag current_user.customer_logo, alt: "User Image"%>
          <div class="info">
            <p><%= current_user.customer_name %></p>
          </div>
  			</div>
  		</div>
  		<!-- sidebar menu: : style can be found in sidebar.less -->
  		<ul class="sidebar-menu">
  			<li class="header">MAIN NAVIGATION</li>
  			<% if can? :read, Customer %>
	  			<li class="<%= active_controller('customers') %>">
	  				<%= link_to customers_path do %>
	  					<i class="fa fa-user-secret"></i> <span>Customers</span> <i class="pull-right"></i>
	  				<%end%>
	  			</li>
  			<%end%>
  			<% if can? :read, User %>
	  			<li class="<%= active_controller('users') %>">
	  				<%= link_to users_path do %>
	  					<i class="fa fa-user"></i> <span>Users</span> <i class="pull-right"></i>
	  				<%end%>
	  			</li>
  			<%end%>
  			<% if can? :read, Group %>
	  			<li class="<%= active_controller('groups') %>">
	  				<%= link_to groups_path do %>
	  					<i class="fa fa-dashcube"></i> <span>Groups</span> <i class="pull-right"></i>
	  				<%end%>
	  			</li>
  			<%end%>
        <li class="<%= active_controller('posts') %>">
          <%= link_to posts_path do %>
            <i class="fa fa-newspaper-o"></i> <span>Posts</span> <i class="pull-right"></i>
          <%end%>
        </li>
        <li class="<%= active_controller('documents') %>">
          <%= link_to documents_path do %>
            <i class="fa fa-file-text-o"></i> <span>Documents</span> <i class="pull-right"></i>
          <%end%>
        </li>
  			<% if can? :read, DownloadLog %>
	  			<li class="<%= active_controller('file_data') %>">
	  				<%= link_to file_data_download_history_path do %>
	  					<i class="fa fa-cloud-download"></i> <span>Download History</span> <i class="pull-right"></i>
	  				<%end%>
	  			</li>
  			<%end%>
  		</ul>
  	</section>
  	<!-- /.sidebar -->
  </aside>